
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
body {
    margin: 0;
  }

  img {
    border-radius: 8px;
           }

           img {
            opacity: 0.5;
          }
          
          img:hover {
            opacity: 1.0;
          } 
          h1 {text-align: center;}
          h2 {text-align: center;} 
          body {text-align: center;}       
  
  .header {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
 
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  div {
background-color: whitesmoke;
}
 
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  html * {
      font-family: 'Courier New', Courier, monospace;
    }
    .header-content {
      opacity: 0; /* Initially hide the header content */
      transform: translateY(-50px); /* Move header content up by 50px */
      transition: opacity 0.5s ease, transform 0.5s ease; /* Transition effect */
    }
    
    /* Apply animation when header comes into view */
    .animated-header {
      animation: slideIn 1s ease forwards;
    }
    
    /* Keyframes for animation */
    @keyframes slideIn {
      0% {
        transform: translateY(-50px); /* Start position of the animation */
        opacity: 0;
      }
      100% {
        transform: translateY(0); /* End position of the animation */
        opacity: 1;
      }
    }
    footer p {
      padding: 10px 0;
      } 
    /* styles.css */
/* Custom CSS for Bootstrap Carousel */
.carousel-control-prev,
.carousel-control-next {
  background-color: lightgray; /* Change to your desired color */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white; /* Change to your desired color */
}
.carousel > .carousel-inner > .carousel-item > img{
  width:340px; /* Yeap you can change the width and height*/
  height:500px;
}