body {
    background: linear-gradient(to right, #f857a6, #ff5858);
  }

.box-shadow {
    background: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
 } 

 body {
    font-family: Arial, sans-serif;
}

div {
  background-color: white;
}